<nav class="navbar navbar-light bg-dark">
	<div class="container-fluid">
		<span class="navbar-brand h1 text-light">data.stack Automated Tester</span>
		<button class="btn btn-warning btn-sm">Log out <i class="bi bi-box-arrow-right"></i></button>
	</div>
</nav>
<ul class="nav shadow">
	<li class="nav-item">
		<a class="menuItem nav-link" aria-current="page" [ngClass]="{'menuSelected': menuItem == 'env'}" (click)="menuClick('env')"><i class="bi bi-hdd-rack fs-5"></i> Environments</a>
  </li>
	<li class="nav-item">
		<a class="menuItem nav-link" aria-current="page" [ngClass]="{'menuSelected': menuItem == 'tests'}" (click)="menuClick('tests')"><i class="bi bi-collection fs-5"></i> Test suites</a>
  </li>
	<li class="nav-item">
		<a class="menuItem nav-link" aria-current="page" [ngClass]="{'menuSelected': menuItem == 'results'}" (click)="menuClick('results')"><i class="bi bi-clipboard-check fs-5"></i> Results</a>
  </li>
	<li class="nav-item">
		<a class="menuItem nav-link" aria-current="page" [ngClass]="{'menuSelected': menuItem == 'dataset'}" (click)="menuClick('dataset')"><i class="bi bi-stack fs-5"></i> Data sets</a>
	</li>
</ul>

<div class="container-fluid p-3">
	<div class="row">
		<div class="col">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>